<nav class="navbar navbar-expand-lg navbar-dark px-3" [ngStyle]="{ 'background-color': theme.navbar }">
  <a class="navbar-brand d-flex align-items-center" [routerLink]="isRootPage ? null : '/Home/dashboard'" [class.disabled]="isRootPage" style="cursor: pointer;">
    <img src="assets/Images/dxc_logo.svg" alt="logo" class="navbar-logo me-2">
  </a>

  <!-- Mobile toggler (optional) -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <div class="d-flex ms-auto align-items-center gap-3">
      <div *ngIf="!isRootPage"
           class="search-container"
           [class.expanded]="searchExpanded"
           (click)="toggleSearch($event)">
        <i class="bi bi-search search-icon"></i>
      </div>

      <div class="lang-switch" (click)="toggleLang()">
        <span [class.active]="currentLang === 'FR'">FR</span>
        <span class="divider">|</span>
        <span [class.active]="currentLang === 'EN'">EN</span>
      </div>

      <button
        class="help-btn"
        placement="bottom"
        ngbTooltip="Aide / Informations"
        (click)="goToDocumentation()"
        *ngIf="!isRootPage">
        <i class="bi bi-question-circle"></i>
      </button>
    </div>
  </div>
</nav>
