.cta-section {
  background-color: #BC9D7E; /* Same tan as button hover */
  border-top: 1px solid #7B3131; /* You can adjust border color for contrast */
  color: #423629; /* Dark text for contrast */
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-section h2 {
  color: #423629;
}

.cta-section .btn-primary {
  background-color: #7B3131;
  border-color: #423629;
  color: #E3D6C8;
}

.cta-section .btn:hover {
  background-color: #423629;
  color: white;
}
