<section class="hero-section d-flex">
  <div class="hero-left d-flex flex-column justify-content-center text-dark px-4">
    <h1 class="hero-title">Simplifiez la gestion de vos PV</h1>
    <p class="lead hero-description">
      Une plateforme intelligente pour créer, gérer et stocker vos procès-verbaux
      en toute simplicité et sécurité.
    </p>
  </div>
  <div class="hero-right d-flex justify-content-center align-items-center">
    <img src="assets/Images/Logo (1).svg" alt="App Logo" class="hero-logo" />
  </div>
</section>
